<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4Tp3ILx016IsyD4TgrLUWovDJ37YXEf0</string>
	<key>GCM_SENDER_ID</key>
	<string>546357483506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>church.freeplay</string>
	<key>PROJECT_ID</key>
	<string>freeplay-1c57f</string>
	<key>STORAGE_BUCKET</key>
	<string>freeplay-1c57f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546357483506:ios:c3a85f274317cd25b53d6b</string>
</dict>
</plist>
